<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/" method="post"
    <label>Enter Text</label>
    <input type = "text" name="words"
    <input type = "submit"
    </form>
  
  </body>
</html>